
@{
    ViewBag.Title = "Setting Page";
}

@section style
{
    <!-- Internal Multiselect css -->
    <link href="~/Scripts/Angular/Intranet/JS/IntranetJs/MultiSelectDropDown/bootstrap-multiselect.css" rel="stylesheet">

    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!-- Internal Gallery css -->
    <link href="~/assets/plugins/gallery/gallery.css" rel="stylesheet" />


    <!---Internal Fancy uploader css-->
    <link href="~/Scripts/Angular/Intranet/JS/IntranetJs/fancyuploder/fancy_fileupload.css" rel="stylesheet" />

    <!-- Internal Data table css -->
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!---Internal Fileupload css-->
    <link href="~/Scripts/Angular/Intranet/JS/IntranetJs/fileuploads/css/fileupload.css" rel="stylesheet" type="text/css" />
    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet">

    <!-- Internal Spectrum-colorpicker css -->
    <link href="~/assets/plugins/spectrum-colorpicker/spectrum.css" rel="stylesheet">

    <link href="~/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />
    <!--Internal   Notify -->
    <link href="~/assets/plugins/notify/css/notifIt.css" rel="stylesheet" />

}

@section styleIntranet
{

    <!--- CustomStyle css-->
    <link href="~/Scripts/Angular/Intranet/JS/IntranetJs/CustomStyle.css" rel="stylesheet">

    <link href="~/Scripts/Angular/Intranet/JS/IntranetJs/modelPopup.css" rel="stylesheet" />

    <!-- include summernote css/js -->
    <link href="~/Scripts/Angular/Intranet/JS/IntranetJs/summernote/css/summernote-bs4.min.css" rel="stylesheet">
}

<div class="container" ng-app="settingApp" ng-controller="settingController">
    <div class="breadcrumb-header justify-content-between mg-t-0">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Intranet</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Setting</span>
            </div>
        </div>
    </div>
    <div class="row row-sm">
        <div class="col-lg-12 col-md-12">
            <div class="card" id="tabs-style4">
                <div class="card-body">
                    <div class="panel panel-primary">
                        <div class="tab_wrapper left_tab">
                            <ul class="tab_list tabClick">
                                <li class="active" data-title="Article">Article</li>
                                <li data-title="Notice">Notice</li>
                                <li data-title="Event">Event</li>
                                <li data-title="Slider">Slider</li>
                                <li data-title="Awards_Types">Award Types</li>
                                <li data-title="Awards">Awards</li>
                                <li data-title="Photo Gallery">Photo Gallery</li>
                                <li data-title="Pages">Page</li>
                                <li data-title="Menu">Menu</li>
                                <li data-title="Quick_Link">Quick Link</li>
                                <li data-title="Holiday_List">Holiday List</li>
                                <li data-title="Settings">Settings</li>
                            </ul>
                            <div class="content_wrapper">
                                <div class="tab_content active">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Article">Add</button>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="ArticleDataTable" class="table key-buttons text-md-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Article Title</th>
                                                            <th class="border-bottom-0">Description</th>
                                                            <th class="border-bottom-0">Pinned Article</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr ng-repeat="a in ArticleData">
                                                            <td>{{a.ID}}</td>
                                                            <td>{{a.Article_Title}}</td>
                                                            <td>{{getTextFromHtml(a.Description)}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{a.Pinned_Article}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{a.Pinned_Article}}>No</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{a.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{a.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(a,'Article')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>


                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Notice">Add</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="NoticeDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Notice Title</th>
                                                            <th class="border-bottom-0">Description</th>
                                                            <th class="border-bottom-0">Pinned Notice</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="n in NoticeData">
                                                            <td>{{n.ID}}</td>
                                                            <td>{{n.Notice_Title}}</td>
                                                            <td>{{getTextFromHtml(n.Description)}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{n.Pinned_Notice}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{n.Pinned_Notice}}>No</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{n.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{n.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(n,'Notice')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Event">Add</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="EventDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Event Title</th>
                                                            <th class="border-bottom-0">Start Date</th>
                                                            <th class="border-bottom-0">End Date</th>
                                                            <th class="border-bottom-0">Description</th>
                                                            <th class="border-bottom-0">Pinned Event</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="e in EventData">
                                                            <td>{{e.ID}}</td>
                                                            <td>{{e.Event_Name}}</td>
                                                            <td>{{formatDate(e.Start_Date,'MM/DD/YYYY h:mm:ss a','DD MMM YYYY')}}</td>
                                                            <td>{{formatDate(e.End_Date,'MM/DD/YYYY h:mm:ss a','DD MMM YYYY')}}</td>
                                                            <td>{{getTextFromHtml(e.Description)}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{e.Pinned_Event}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{e.Pinned_Event}}>No</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{e.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{e.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(e,'Event')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Slider">Add</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="SliderDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Slider Title</th>
                                                            <th class="border-bottom-0">Slider Subject</th>
                                                            <th class="border-bottom-0">Slider_Image_Url</th>
                                                            <th class="border-bottom-0">Description</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="s in SliderData">
                                                            <td>{{s.ID}}</td>
                                                            <td>{{s.Slider_Title}}</td>
                                                            <td>{{s.Slider_Subject}}</td>
                                                            <td><img src={{urlfix+s.Slider_Image_Url}} /></td>
                                                            <td>{{getTextFromHtml(s.Description)}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{s.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{s.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(s,'Slider')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Awards_Types">Add</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="awardTypeDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Award Type</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="awt in awardTypeData">
                                                            <td>{{awt.ID}}</td>
                                                            <td>{{awt.Award_type}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{awt.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{awt.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(awt,'Awards_Types')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Award">Add</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="AwardDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Award Title</th>
                                                            <th class="border-bottom-0">Emp Code</th>
                                                            <th class="border-bottom-0">Reason</th>
                                                            <th class="border-bottom-0">Pinned Awards</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="aw in AwardData">
                                                            <td>{{aw.ID}}</td>
                                                            <td>{{aw.Award_type}}</td>
                                                            <td>{{aw.Emp_Code}}</td>
                                                            <td>{{aw.Reason}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{aw.Pinned_Awards}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{aw.Pinned_Awards}}>No</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{aw.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{aw.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(aw,'Award')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Gallery">Add</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="GalleryDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Album Title</th>
                                                            <th class="border-bottom-0">Pinned Album</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="g in GalleryData">
                                                            <td>{{g.ID}}</td>
                                                            <td>{{g.Album_Title}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{g.Pinned_Album}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{g.Pinned_Album}}>No</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{g.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{g.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(g,'Gallery')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Pages">Add</button>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="PageDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Page Name</th>
                                                            <th class="border-bottom-0">Page Title</th>
                                                            <th class="border-bottom-0">Page Type</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="pg in PagesData">
                                                            <td>{{pg.ID}}</td>
                                                            <td>{{pg.Page_Name}}</td>
                                                            <td>{{pg.Page_Title}}</td>
                                                            <td>{{pg.Page_Type}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{pg.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{pg.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(pg,'Pages')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Menu">Add</button>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="MenuDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Menu Name</th>
                                                            <th class="border-bottom-0">Menu Order</th>
                                                            <th class="border-bottom-0">URL</th>
                                                            <th class="border-bottom-0">External Url</th>
                                                            <th class="border-bottom-0">Parent Menu</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="Me in MenuData">
                                                            <td>{{Me.ID}}</td>
                                                            <td>{{Me.MenuName}}</td>
                                                            <td>{{Me.OrderNo}}</td>
                                                            <td>{{Me.URL}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{Me.External_Url}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{Me.External_Url}}>No</span>
                                                            </td>
                                                            <td>{{Me.ParentMenuId.MenuName}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{Me.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{Me.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(Me,'Menu')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Quick_Link">Add</button>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="QuickLinkDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Quick Link Title</th>
                                                            <th class="border-bottom-0">Is Internal</th>
                                                            <th class="border-bottom-0">URL</th>
                                                            <th class="border-bottom-0">Next Tab</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="Me in QuickLinkData">
                                                            <td>{{Me.ID}}</td>
                                                            <td>{{Me.Quick_Link_Title}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{Me.Is_Internal}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{Me.Is_Internal}}>No</span>
                                                            </td>
                                                            <td>{{Me.Quick_Link_Url}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{Me.Next_Tab}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{Me.Next_Tab}}>No</span>
                                                            </td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{Me.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{Me.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(Me,'Quick_Link')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="d-flex flex-row justify-content-end pd-b-20">
                                        <div class="col-lg-2">
                                            <button class="btn btn-info btn-block add_Click" data-Tab="Holiday_List">Add</button>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table id="HolidayListDataTable" class="table key-buttons text-md-nowrap" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th class="border-bottom-0">ID</th>
                                                            <th class="border-bottom-0">Holiday Title</th>
                                                            <th class="border-bottom-0">Holiday Date</th>
                                                            <th class="border-bottom-0">Active</th>
                                                            <th class="border-bottom-0">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="hl in HolidayListData">
                                                            <td>{{hl.ID}}</td>
                                                            <td>{{hl.Holiday_Title}}</td>
                                                            <td>{{formatDate(hl.Holiday_Date,'MM/DD/YYYY h:mm:ss a','DD MMM YYYY')}}</td>
                                                            <td>
                                                                <span class="badge badge-success" ng-show={{hl.Active}}>Yes</span>
                                                                <span class="badge badge-danger" ng-show=!{{hl.Active}}>No</span>
                                                            </td>
                                                            <td>
                                                                <div class="btn-icon-list">
                                                                    <button class="btn btn-icon-list" ng-click="editPopUp(hl,'Holiday_List')" data-toggle="tooltip" title="" data-placement="top" data-original-title="Edit"><i class="si si-pencil text-primary mr-2"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_content">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <div class="card-body mg-x-auto pointerCursor" ng-click="editPopUp('','Birthday_SettingPop')">
                                                    <h5 class="mg-b-0">Birthday Setting <i class="fas fa-cogs" style="color:#0162e8"></i></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <div class="card-body mg-x-auto pointerCursor" ng-click="editPopUp('','Anniversary_SettingPop')">
                                                    <h5 class="mg-b-0">Anniversary Setting <i class="fas fa-cogs" style="color:#0162e8"></i></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <div class="card-body mg-x-auto pointerCursor" ng-click="editPopUp('','Award_SettingPop')">
                                                    <h5 class="mg-b-0">Awards Setting <i class="fas fa-cogs" style="color:#0162e8"></i></h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="card">
                                                <div class="card-body mg-x-auto pointerCursor" ng-click="editPopUp('','Card_SettingPop')">
                                                    <h5 class="mg-b-0">Cards Setting <i class="fas fa-cogs" style="color:#0162e8"></i></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /div -->
                </div>
            </div>
        </div>
    </div>
    <div class="modal left fade" id="exampleModalRight" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div id="global-loaderPopup">
                <label class="loader-Label" id="rightPopupLoaderLabel"></label>
                <img src="../assets/img/loader.svg" class="loader-img" alt="Loader">
            </div>

            <div class="modal-content">
                <div class="modal-body" style="overflow-y: scroll; max-height:90%;">

                    <div class="row row-sm">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Holiday_Title">Holiday Title</label>
                                <input type="text" class="form-control" id="Holiday_Title" placeholder="Enter Holiday Title" />
                            </div>
                        </div>
                        <div class="col-lg-12"><div class="form-group"><label for="Holiday_Date">Holiday Date</label><div class="input-group" id="Holiday_Date"><div class="input-group-prepend"><div class="input-group-text"><i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i></div></div><input class="form-control" id="dateTimePickerStart" type="text" value=""></div></div></div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="main-toggle-group-demo yes-toggle">
                                    <label for="Active">Active</label>
                                    <div class="main-toggle mg-l-20" id="active_Check"><span></span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveActionData" data-saveType="" data-operation="" data-updateId="">Save</button>
                    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>-->
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal left fade" id="exampleModalFull" tabindex="" role="dialog" aria-labelledby="exampleModalLabelFull" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog fullScreenPopup" role="document">
            <div id="global-loaderPopup">
                <img src="../assets/img/loader.svg" class="loader-img" alt="Loader">
            </div>

            <div class="modal-content">
                <div class="modal-body previewBody" style="overflow-y: scroll; max-height:100%;padding: 0px!important;">

                    <!-- main-header opened -->
                    <div class="main-header nav nav-item hor-header">
                        <div class="container">
                            <div class="main-header-left ">
                                <a class="animated-arrow hor-toggle horizontal-navtoggle"><span></span></a><!-- sidebar-toggle-->
                                <a class="header-brand" href="index.html">
                                    <img src="../assets/img/brand/logo-white.png" class="desktop-dark">
                                    <img src="../assets/img/brand/logo.png" class="desktop-logo">
                                    <img src="../assets/img/brand/favicon.png" class="desktop-logo-1">
                                    <img src="../assets/img/brand/favicon-white.png" class="desktop-logo-dark">
                                </a>
                            </div><!-- search -->
                            <div class="main-header-right">
                                <div class="nav nav-item  navbar-nav-right ml-auto">
                                    <div class="dropdown nav-item main-header-notification">
                                        <a class="new nav-link" href="#">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg><span class=" pulse"></span>
                                        </a>
                                        <div class="dropdown-menu">
                                            <div class="menu-header-content bg-primary text-left">
                                                <div class="d-flex">
                                                    <h6 class="dropdown-title mb-1 tx-15 text-white font-weight-semibold">Notifications</h6>
                                                    <span class="badge badge-pill badge-warning ml-auto my-auto float-right">Mark All Read</span>
                                                </div>
                                                <p class="dropdown-title-text subtext mb-0 text-white op-6 pb-0 tx-12 ">You have 4 unread Notifications</p>
                                            </div>
                                            <div class="main-notification-list Notification-scroll">
                                                <a class="d-flex p-3 border-bottom" href="#">
                                                    <div class="notifyimg bg-pink">
                                                        <i class="la la-file-alt text-white"></i>
                                                    </div>
                                                    <div class="ml-3">
                                                        <h5 class="notification-label mb-1">New files available</h5>
                                                        <div class="notification-subtext">10 hour ago</div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <i class="las la-angle-right text-right text-muted"></i>
                                                    </div>
                                                </a>
                                                <a class="d-flex p-3" href="#">
                                                    <div class="notifyimg bg-purple">
                                                        <i class="la la-gem text-white"></i>
                                                    </div>
                                                    <div class="ml-3">
                                                        <h5 class="notification-label mb-1">Updates Available</h5>
                                                        <div class="notification-subtext">2 days ago</div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <i class="las la-angle-right text-right text-muted"></i>
                                                    </div>
                                                </a>
                                                <a class="d-flex p-3 border-bottom" href="#">
                                                    <div class="notifyimg bg-success">
                                                        <i class="la la-shopping-basket text-white"></i>
                                                    </div>
                                                    <div class="ml-3">
                                                        <h5 class="notification-label mb-1">New Order Received</h5>
                                                        <div class="notification-subtext">1 hour ago</div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <i class="las la-angle-right text-right text-muted"></i>
                                                    </div>
                                                </a>
                                                <a class="d-flex p-3 border-bottom" href="#">
                                                    <div class="notifyimg bg-warning">
                                                        <i class="la la-envelope-open text-white"></i>
                                                    </div>
                                                    <div class="ml-3">
                                                        <h5 class="notification-label mb-1">New review received</h5>
                                                        <div class="notification-subtext">1 day ago</div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <i class="las la-angle-right text-right text-muted"></i>
                                                    </div>
                                                </a>
                                                <a class="d-flex p-3 border-bottom" href="#">
                                                    <div class="notifyimg bg-danger">
                                                        <i class="la la-user-check text-white"></i>
                                                    </div>
                                                    <div class="ml-3">
                                                        <h5 class="notification-label mb-1">22 verified registrations</h5>
                                                        <div class="notification-subtext">2 hour ago</div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <i class="las la-angle-right text-right text-muted"></i>
                                                    </div>
                                                </a>
                                                <a class="d-flex p-3 border-bottom" href="#">
                                                    <div class="notifyimg bg-primary">
                                                        <i class="la la-check-circle text-white"></i>
                                                    </div>
                                                    <div class="ml-3">
                                                        <h5 class="notification-label mb-1">Project has been approved</h5>
                                                        <div class="notification-subtext">4 hour ago</div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <i class="las la-angle-right text-right text-muted"></i>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="dropdown-footer">
                                                <a href="">VIEW ALL</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nav-item full-screen fullscreen-button">
                                        <a class="new nav-link full-screen-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /main-header -->
                    <!--Horizontal-main -->
                    <div class="sticky">
                        <div class="horizontal-main hor-menu clearfix side-header">
                            <div class="horizontal-mainwrapper container clearfix">
                                <!--Nav-->
                                <nav class="horizontalMenu clearfix">
                                    <ul class="horizontalMenu-list">
                                        <li aria-haspopup="true"><a href="index.html" class=""><svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z" opacity=".3" /><path d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z" /></svg>Menu 1</a></li>
                                        <li aria-haspopup="true"><a href="index.html" class=""><svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon" viewBox="0 0 24 24"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z" opacity=".3" /><path d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z" /></svg>Menu 2</a></li>
                                    </ul>
                                </nav>
                                <!--Nav-->
                            </div>
                        </div>
                    </div>
                    <!--Horizontal-main -->
                    <!-- main-content opened -->
                    <div class="main-content horizontal-content">

                        <!-- container opened -->
                        <div class="container">

                            <!-- breadcrumb -->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb breadcrumb-style2">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active">Page</li>

                                </ol>
                            </nav>
                            <!-- breadcrumb -->
                            <!-- row -->
                            <div class="row SectionT">
                                <div class="col-xl-12 col-lg-12">
                                    <h3 class="text-primary" id="TitlePageDivCol"></h3>
                                </div>
                            </div>
                            <div class="row fullPageDiv" style="display:none">
                                <div class="col-xl-12 col-lg-12 SectionT" id="fullPageDivCol">

                                </div>
                            </div>

                            <div class="row rightPageDiv" style="display:none">

                                <div class="col-xl-8 col-lg-8" id="rightPageDivCol">

                                </div>
                                <div class="col-xl-4 col-lg-4 pd-t-10">
                                    <div class="rightp row"></div>
                                </div>
                            </div>

                            <div class="row leftPageDiv" style="display:none">
                                <div class="col-xl-4 col-lg-4 pd-t-10">
                                    <div class="leftp row"></div>
                                </div>
                                <div class="col-xl-8 col-lg-8" id="lefttPageDivCol">

                                </div>

                            </div>

                        </div>
                        <!-- container closed -->

                    </div>
                    <!-- main-content closed -->

                </div>

                <button type="button" class="modelClose pointerCursor" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>

    <!-- Modal alert message Success -->
    <div class="modal" id="SuccessModelProject" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <i class="icon ion-ios-checkmark-circle-outline tx-100 tx-success lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-success tx-semibold mg-b-20">Congratulations!</h4>
                    <p class="mg-b-20 mg-x-20">Your request have been successfully submitted.</p><button aria-label="Close" class="btn ripple btn-success pd-x-25" data-dismiss="modal" type="button" ng-click="SaveRedirect()">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <div id="stack3" class="modal hide fade" tabindex="-1" data-focus-on="input:first">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Stack Three</h3>
        </div>
        <div class="modal-body">
            <p>One fine body…</p>
            <input type="text" data-tabindex="1">
            <input type="text" data-tabindex="2">
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">Close</button>
            <button type="button" class="btn btn-primary">Ok</button>
        </div>
    </div>

</div>
@section scripts
{

    <script src="~/assets/plugins/gallery/lightgallery-all.min.js"></script>

    <!--Internal Fileuploads js-->
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/fileuploads/js/fileupload.js"></script>
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/fileuploads/js/file-upload.js"></script>

    <!--Internal Fancy uploader js-->
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/fancyuploder/jquery.ui.widget.js"></script>
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/fancyuploder/jquery.fileupload.js"></script>
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/fancyuploder/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/fancyuploder/jquery.fancy-fileupload.js"></script>

    <!-- ticker js -->
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/easy-ticker/jquery.easy-ticker.js"></script>


    <!--Internal  spectrum-colorpicker js -->
    <script src="~/assets/plugins/spectrum-colorpicker/spectrum.js"></script>

    <!--- Tabs JS-->
    <script src="~/assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>
    <script src="~/assets/js/tabs.js"></script>

    <!-- Internal MultiSelect js -->
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/MultiSelectDropDown/bootstrap-multiselect.min.js"></script>

    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>

    <!-- Internal Data tables -->
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <!--Internal  Notify js -->
    <script src="~/assets/plugins/notify/js/notifIt.js"></script>
    <script src="~/assets/plugins/notify/js/notifit-custom.js"></script>

    <!--Internal  Datatable js -->
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/table-data.js"></script>

    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/summernote/css/summernote-bs4.js"></script>

    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/DatePicker.js"></script>
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/Setting.js"></script>
    <script src="~/Scripts/Angular/Intranet/JS/IntranetJs/saveFileLib.js"></script>

    <script src="~/Scripts/Angular/Intranet/JS/SettingActions.js"></script>
    <script src="~/Scripts/Angular/Intranet/JS/WidgetController.js"></script>

}